body { 
    background-color:white;
}



img {
    height: 150px;
}

h1 {
    color: black;
    font-weight: bold;
}

h3 {
    color: black;
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

hr {
    background-color: black;
    border-style: none;
    height: 1px;
    width: 100%;
}

div.a {
    text-align: center;
}